## Сложные выборки с помощью масок (значений True и False)

In [372]:
!kaggle datasets download -d harshitshankhdhar/imdb-dataset-of-top-1000-movies-and-tv-shows

imdb-dataset-of-top-1000-movies-and-tv-shows.zip: Skipping, found more recently modified local copy (use --force to force download)

In [373]:
import pandas as pd
im = pd.read_csv('C:\\Users\\mob19\\OneDrive\\Рабочий стол\\data\\imdb-dataset-of-top-1000-movies-and-tv-shows\\imdb_top_1000.csv')
# im.info() # смотрим названия колонок и тип их данных
mv = im[['Released_Year','Genre','Runtime','IMDB_Rating','Director','No_of_Votes','Gross']]
mv

,Released_Year,Genre,Runtime,IMDB_Rating,Director,No_of_Votes,Gross
0,1994,Drama,142 min,9.3,Frank Darabont,2343110,"28,341,469"
1,1972,"Crime, Drama",175 min,9.2,Francis Ford Coppola,1620367,"134,966,411"
2,2008,"Action, Crime, Drama",152 min,9.0,Christopher Nolan,2303232,"534,858,444"
3,1974,"Crime, Drama",202 min,9.0,Francis Ford Coppola,1129952,"57,300,000"
4,1957,"Crime, Drama",96 min,9.0,Sidney Lumet,689845,"4,360,000"
...,...,...,...,...,...,...,...
995,1961,"Comedy, Drama, Romance",115 min,7.6,Blake Edwards,166544,NaN
996,1956,"Drama, Western",201 min,7.6,George Stevens,34075,NaN
997,1953,"Drama, Romance, War",118 min,7.6,Fred Zinnemann,43374,"30,500,000"
998,1944,"Drama, War",97 min,7.6,Alfred Hitchcock,26471,NaN
999,1935,"Crime, Mystery, Thriller",86 min,7.6,Alfred Hitchcock,51853,NaN

In [374]:
mv = im[['Series_Title','Released_Year','Genre','Runtime','IMDB_Rating','Director','No_of_Votes','Gross','Star1','Star2','Star3','Star4']].copy()
# mask1 = mv['IMDB_Rating'] > 9.1 # Movies with high rate
# # mask1
# mask2 = mv['IMDB_Rating'] < 7.7 # Movies with low rate
# mv[mask1]
# mv[mask2]
# mask3 = mv['Released_Year'] > 2019
# mv[mask2 & mask]

### Модификация отдельных типов данных

#### Привести типы

In [375]:
mv.dtypes
# mv.select_dtypes('object') # выведет колонки с типом объект
cols_to_modify = mv.select_dtypes('object').columns
cols_to_modify
mv[['Released_Year','Runtime', 'Gross']]
# mv.Released_Year.astype('Int64')
# mask = mv.Released_Year == 'PG'
# # list(mv[mask].index)
# for i in list(mv[mask].index):
#     mv.loc[i,'Released_Year'] = 1999

# mv['Released_Year']pd.to_numeric(mv['Released_Year'],errors='coerse')

    Released_Year  Runtime        Gross
0            1994  142 min   28,341,469
1            1972  175 min  134,966,411
2            2008  152 min  534,858,444
3            1974  202 min   57,300,000
4            1957   96 min    4,360,000
..            ...      ...          ...
995          1961  115 min          NaN
996          1956  201 min          NaN
997          1953  118 min   30,500,000
998          1944   97 min          NaN
999          1935   86 min          NaN

[1000 rows x 3 columns]

In [376]:
mv['Released_Year'] = pd.to_numeric(mv['Released_Year'],errors='coerce')# downcast='float')
mv.iloc[966]
# mv.dtypes
sy = mv['Released_Year'].astype(float)
mv.loc[:,'Released_Year'] = sy
# mv.dtypes

mv['Runtime'] = mv['Runtime'].astype('string')
mv['Runtime'] = mv['Runtime'].str[:-4] # removed ' min'         
mv['Runtime'] = mv['Runtime'].astype('Int32')
# mv['Runtime']
pd.to_numeric(mv['Gross'].str.replace(',',''), errors='ignore')
mv.loc[:,['Series_Title','Director']] = mv[['Series_Title','Director']].astype('string')
mv['Gross'] = pd.to_numeric(mv['Gross'].str.replace(',',''), errors='ignore')

mv['Genre'] = mv['Genre'].astype('string')
mv['Star1'] = mv['Star1'].astype('string')
mv['Star2'] = mv['Star2'].astype('string')
mv['Star3'] = mv['Star3'].astype('string')
mv['Star4'] = mv['Star4'].astype('string')

In [440]:
mv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   1000 non-null   string
 1   Released_Year  999 non-null    float64
 2   Genre          1000 non-null   object
 3   Runtime        1000 non-null   Int32
 4   IMDB_Rating    1000 non-null   float64
 5   Director       1000 non-null   string
 6   No_of_Votes    1000 non-null   int64
 7   Gross          831 non-null    float64
 8   Stars          1000 non-null   object
 9   minuteCost     1000 non-null   Float64
dtypes: Float64(1), Int32(1), float64(3), int64(1), object(2), string(2)
memory usage: 76.3+ KB

In [378]:
# mv['Gross'].astype('string').str.replace(',','')
# pd.to_numeric(mv['Gross'].str.replace(',',''), errors='ignore')
# mv['Gross'] = pd.to_numeric(mv['Gross'].str.replace(',',''), errors='ignore')

In [379]:
# mv.loc[:,['Series_Title','Director']] = mv[['Series_Title','Director']].astype('string')

## Преобразование серий с текстовыми значениями

In [380]:
mv['Genre'] = mv['Genre'].str.split(', ')
# type(mv['Genre'].str.split(', ').iloc[0])

In [381]:
mv['Stars'] = mv.loc[:,['Star1','Star2','Star3','Star4']].apply(list,axis=1)
# mv.head()
mv.drop(labels = ['Star1','Star2','Star3','Star4'], axis=1,inplace=True)
# mv = mv.drop(columns = ['Star1','Star2','Star3','Star4'], inplace=True)

mv

,Series_Title,Released_Year,Genre,Runtime,IMDB_Rating,Director,No_of_Votes,Gross,Stars
0,The Shawshank Redemption,1994.0,[Drama],142,9.3,Frank Darabont,2343110,28341469.0,"[Tim Robbins, Morgan Freeman, Bob Gunton, Will..."
1,The Godfather,1972.0,"[Crime, Drama]",175,9.2,Francis Ford Coppola,1620367,134966411.0,"[Marlon Brando, Al Pacino, James Caan, Diane K..."
2,The Dark Knight,2008.0,"[Action, Crime, Drama]",152,9.0,Christopher Nolan,2303232,534858444.0,"[Christian Bale, Heath Ledger, Aaron Eckhart, ..."
3,The Godfather: Part II,1974.0,"[Crime, Drama]",202,9.0,Francis Ford Coppola,1129952,57300000.0,"[Al Pacino, Robert De Niro, Robert Duvall, Dia..."
4,12 Angry Men,1957.0,"[Crime, Drama]",96,9.0,Sidney Lumet,689845,4360000.0,"[Henry Fonda, Lee J. Cobb, Martin Balsam, John..."
...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961.0,"[Comedy, Drama, Romance]",115,7.6,Blake Edwards,166544,NaN,"[Audrey Hepburn, George Peppard, Patricia Neal..."
996,Giant,1956.0,"[Drama, Western]",201,7.6,George Stevens,34075,NaN,"[Elizabeth Taylor, Rock Hudson, James Dean, Ca..."
997,From Here to Eternity,1953.0,"[Drama, Romance, War]",118,7.6,Fred Zinnemann,43374,30500000.0,"[Burt Lancaster, Montgomery Clift, Deborah Ker..."
998,Lifeboat,1944.0,"[Drama, War]",97,7.6,Alfred Hitchcock,26471,NaN,"[Tallulah Bankhead, John Hodiak, Walter Slezak..."
999,The 39 Steps,1935.0,"[Crime, Mystery, Thriller]",86,7.6,Alfred Hitchcock,51853,NaN,"[Robert Donat, Madeleine Carroll, Lucie Mannhe..."

In [382]:
mv.memory_usage(deep=True) # Сколько занимает места

Index              128
Series_Title     73676
Released_Year     8000
Genre            80000
Runtime           5000
IMDB_Rating       8000
Director         71566
No_of_Votes       8000
Gross             8000
Stars            80000
dtype: int64

In [435]:
# Фильм с наибольшим бюджетом
maxGross = mv['Gross'].max()
mv.loc[mv['Gross'] == maxGross]

# Самый длинный фильм
maxlen = mv['Runtime'].max()
mv.loc[mv['Runtime'] == maxlen]

,Series_Title,Released_Year,Genre,Runtime,IMDB_Rating,Director,No_of_Votes,Gross,Stars,minuteCost
140,Gangs of Wasseypur,2012.0,"[Action, Comedy, Crime]",321,8.2,Anurag Kashyap,82365,NaN,"[Manoj Bajpayee, Richa Chadha, Nawazuddin Sidd...",NaN

In [434]:
# Самый короткий фильм
minlen = mv['Runtime'].min()
mv.loc[mv['Runtime'] == minlen]

,Series_Title,Released_Year,Genre,Runtime,IMDB_Rating,Director,No_of_Votes,Gross,Stars,minuteCost
194,Sherlock Jr.,1924.0,"[Action, Comedy, Romance]",45,8.2,Buster Keaton,41985,977375.0,"[Buster Keaton, Kathryn McGuire, Joe Keaton, E...",21719.444444

In [385]:
# Средняя длительность фильмов
mv['Runtime'].mean()

122.891

In [386]:
mv['Runtime'].median()

119.0

In [433]:
# Стоимость минуты
# mv['Gross']/mv['Runtime']
mv['minuteCost']= mv['Gross']/mv['Runtime']
# mask = mv['minuteCost'] != 'nan'
# mv=mv[mask]
# mv['minuteCost'].dtype
# mv['minuteCost'].mean()
# mmc = mv['minuteCost'].max()
# mmc
# mv.loc[mv['minuteCost'] == mmc]

In [432]:
maxMinCost = mv['minuteCost'].max()
mv.loc[mv['minuteCost'] == maxMinCost]

Empty DataFrame
Columns: [Series_Title, Released_Year, Genre, Runtime, IMDB_Rating, Director, No_of_Votes, Gross, Stars, minuteCost]
Index: []

In [431]:
# maxMinCost = mv['minuteCost'].max()
# mv.loc[mv['minuteCost'] == maxMinCost]

In [439]:
minMinCost = mv['minuteCost'].min()
mv.loc[mv['minuteCost'] == minMinCost]

Empty DataFrame
Columns: [Series_Title, Released_Year, Genre, Runtime, IMDB_Rating, Director, No_of_Votes, Gross, Stars, minuteCost]
Index: []

In [438]:
meanMinCost = mv['minuteCost'].mean()
mv.loc[mv['minuteCost'] > meanMinCost].shape[0]
moreEffectiveMovies = mv.loc[mv['minuteCost'] > meanMinCost]

In [392]:
# Самый кассовый фильм в 2010 году

minYear = mv['Released_Year'].min()
maxYear = mv['Released_Year'].max()
minYear,maxYear

m2010 = mv.loc[(mv['Released_Year'] == 2010)]
max2010gross = m2010.loc[:, 'Gross'].max()
m2010[m2010['Gross'] == max2010gross]

,Series_Title,Released_Year,Genre,Runtime,IMDB_Rating,Director,No_of_Votes,Gross,Stars,minuteCost
151,Toy Story 3,2010.0,"[Animation, Adventure, Comedy]",103,8.2,Lee Unkrich,757032,415004880.0,"[Tom Hanks, Tim Allen, Joan Cusack, Ned Beatty]",4029173.592233

In [428]:
# (Название) Самый невыгодный фильм за 2015-2020 гг
movies1520 = mv[(mv['Released_Year'] >=2015) & (mv['Released_Year'] <=2020)]
movies1520MinminCost = movies1520['minuteCost'].min()
movies1520.loc[movies1520['minuteCost'] == movies1520MinminCost, 'Series_Title']

Series([], Name: Series_Title, dtype: string)

In [429]:
# Самый Непопулярный жанр

genresFreq = dict()
def countMovieGenres(genresList):
    for genre in genresList:
        if genre in genresFreq.keys():
            genresFreq[genre] +=1
        else:
            genresFreq[genre] = 1 
    return genresList

mv['Genre'].apply(countMovieGenres)
# min(genresFreq.values())
for (genre,count) in genresFreq.items():
    if count == min(genresFreq.values()):
        print(genre)

Musical

In [442]:
# Самый популярный жанр среди фильмов с более чем средней стоимостью производства минуты
genresFreq = dict()
moreEffectiveMovies['Genre'].apply(countMovieGenres)

for (genre,count) in genresFreq.items():
    if count == min(genresFreq.values()):
        print(genre)

In [449]:
# Режиссер с макс прибылью за свои картины
dirGrossSum = mv.groupby(['Director'])['Gross'].sum() # набор строк кот. соотв. режиссеру
maxDirGross = dirGrossSum.max()
dirGrossSum.loc[dirGrossSum == maxDirGross]

Director
Steven Spielberg    2.478133e+09
Name: Gross, dtype: float64

In [453]:
#Режиссер, снявший больше всего анимационных фильмов
def genresListofDict(genresList):
    genresFreq = dict()
    for genre in genresList:
        if genre in genresFreq.keys():
            genresFreq[genre] +=1
        else:
            genresFreq[genre] = 1 
    return genresFreq
    
def countAnimationGenre(seriesOfGenreList):
    animationCounter = 0
    for genreList in seriesOfGenreList.apply(genresListofDict):
        if 'Animation' in genreList:
            animationCounter+=1
    return animationCounter

animationMoviesDirectors = mv.groupby(['Director'])['Genre'].agg(countAnimationGenre)
maxAnim = animationMoviesDirectors.max()
animationMoviesDirectors.loc[animationMoviesDirectors == maxAnim]

Director
Hayao Miyazaki    11
Name: Genre, dtype: int64