### Начало работы с Pandas 
Создание серии

In [17]:
import pandas as pd

# s = pd.Series([1,2,3], index=['one','two','three'])
s = pd.Series({'one':10,'two':2,'three':3}) # серия - одномерный объект

Вывод серии и типа данных серии

In [18]:
type(s) # print() or pisplay()

s

one      10
two       2
three     3
dtype: int64

In [47]:
s.index.name = "order"
# s.index = ['A', 'B', 'C']
# s.index = [chr(i+65) for i in range(1,4)]
s.index = ['One', 'Two', 'Three']
s.index

Index(['One', 'Two', 'Three'], dtype='object')

### DataFrame

Набор именованных серий

In [59]:
s2 = s + s # суммирование значений
s3 = s2*3.3 # умножение занчений
# s3
s0 = pd.Series([1,2,3])
s0.index.name = 'Number'
# s0.index
s0.index = ['One', 'Two', 'Three']
s0.name = 'Col_zero'
s01 = s0-s0
s01.name = 'Col_one'
s02 = s0+s2 / s3 *s # (не) совпадают значения индексов
s02.name = 'Col_three'
s02 # ndarray type

One      4.030303
Two      2.606061
Three    3.909091
Name: Col_three, dtype: float64

In [23]:
# myDf = pd.DataFrame({'indexCol1' : s, 'indexCol2' : s2, 'indexCol3' : s3 })   
myDf = pd.DataFrame({'col1': ({'one':10,'two':2,'three':3}),'col2':({'one':100,'two':2.22,'three':30000}),'col3': ({'one':0.10,'two':2/2,'three':3*3})})
display(myDf) 
# myDf
# print('End')   
type(myDf)

       col1      col2  col3
one      10    100.00   0.1
two       2      2.22   1.0
three     3  30000.00   9.0

End

pandas.core.frame.DataFrame

In [71]:
myDf0 = pd.DataFrame([s,s2,s3])   
# myDf = pd.DataFrame({'indexCol1' : s, 'indexCol2' : s2, 'indexCol3' : s3 })   

myDf0.T

          0     1     2
One    10.0  20.0  66.0
Two     2.0   4.0  13.2
Three   3.0   6.0  19.8

In [77]:
s.name = 's'
s2.name = 's2'
s3.name = 's3'

myDf0 = pd.concat([s,s2,s3], axis=1)
myDf0.index.name = 'data index'
myDf0.columns.name = 'imported series'

myDf0

imported series   s  s2    s3
data index
One              10  20  66.0
Two               2   4  13.2
Three             3   6  19.8

In [34]:
print(myDf.columns)
print(myDf.index)

type(myDf.index)

myDf.index.name = "Order_world"
print(type(myDf.index.name))
myDf.columns.name =  'col#'
myDf

Index(['col1', 'col2', 'col3'], dtype='object', name='col#')
Index(['one', 'two', 'three'], dtype='object', name='Order_world')
<class 'str'>

col#         col1      col2  col3
Order_world
one            10    100.00   0.1
two             2      2.22   1.0
three           3  30000.00   9.0

In [37]:
myDf.values
# type(myDf.values)

array([[1.00e+01, 1.00e+02, 1.00e-01],
       [2.00e+00, 2.22e+00, 1.00e+00],
       [3.00e+00, 3.00e+04, 9.00e+00]])